//Personal keymap, subject to weird things, heavy use of helpers intended, and sticky keys, and use with spanish layout, 
// im sorry but having in the same key (,;) and (.:) its way better than (,<) and (.>), other things may not make sense

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "keys_es.h"


//Support for key helpers, hillside fits perfectly because of the 42 base keys plus the encoders,
// LH4, RH4, LH3 and RH3 are the encoders clickdown
#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/hillside46.h"

// ╭─────────────────────────╮       ╭─────────────────────────╮
// │ LT5 LT4 LT3 LT2 LT1 LT0 │       │ RT0 RT1 RT2 RT3 RT4 RT5 │
// │ LM5 LM4 LM3 LM2 LM1 LM0 ╰──╮ ╭──╯ RM0 RM1 RM2 RM3 RM4 RM5 │
// │ LB5 LB4 LB3 LB2 LB1 LB0 LH4╰┬╯RH4 RB0 RB1 RB2 RB3 RB4 RB5 │
// ╰───────────╮ LH3 LH2 LH1 LH0 │ RH0 RH1 RH2 RH3 ╭───────────╯
//             ╰─────────────────┴─────────────────╯
// Also defining helpers for the 5-way switches, just in case I need then(probably not)

#define LU  46
#define LD  54
#define LL  48
#define LR  50
#define LCenter  49

#define RU  47
#define RD  55
#define RL  51
#define RR  53
#define RCenter  52

// Interesting feature, usefull for cases with hard to reach on/off switches
&soft_off {
    hold-time-ms = <5000>; // Only turn off it the key is held for 5 seconds or longer.
};

/ {

    combos {
        compatible = "zmk,combos";

        ctrlayer {
            timeout-ms = <70>;
            key-positions = <LH2 RH2>;
            bindings = <&sl 4>;
        };

        funlayerR {
            timeout-ms = <70>;
            key-positions = <RH2 RH1>;
            bindings = <&sl 3>;
        };

        funlayerL {
            timeout-ms = <70>;
            key-positions = <LH2 LH1>;
            bindings = <&sl 3>;
        };
    };

    behaviors {

        change_tab: change_tab {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp LC(LS(TAB))>, <&kp LC(TAB)>;
        };

        shcps: shcps {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&sk>;
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
        };
        
        es_til_sqt: es_tilde_squote {
            //Custom tap dance, in spanish tilde (á) is common, not so much squote(I'm) so this convines both keys with similar usages, 
            //also integrates ? into the mix(shifted squote) which is pretty nice imho 
            compatible = "zmk,behavio-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&kp ES_ACUTE , &kp ES_SQT>;
        };

        smart_shift : smart_shift {
            compatible = "zmk,behavio-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&sk LSHFT , &caps_word>;
        };

    };  
    
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
        // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
        // Default layer, pretty standar
        //   |   ESC   |    Q    |    W    |    E    |    R    |    T    |                       |    Y    |    U    |    I    |    O    |    P    |  BSPC  |
        //   |   TAB   |    A    |    S    |    D    |    F    |    G    |                       |    H    |    J    |    K    |    L    |    ;    |    '   |
        //   |  SHIFT  |    Z    |    X    |    C    |    V    |    B    |  none   |   | Play/P  |    N    |    M    |    ,    |    .    |    -    |  ENTER |
        //                                 |  WinTab | NumLayer|  BSPC   |  LCRTL  |   |  SHIFT  |  SPACE  |   SymLayer |   none  |
        // (5 way)     
            bindings = <
                &kp ESC      &kp Q    &kp W    &kp E     &kp R     &kp T                                 &kp Y     &kp U       &kp I      &kp O     &kp P          &kp DEL
                &kp TAB      &kp A    &kp S    &kp D     &kp F     &kp G                                 &kp H     &kp J       &kp K      &kp L     &kp ES_N_TILDE &es_til_sqt
                &sk RALT     &kp Z    &kp X    &kp C     &kp V     &kp B    &none      &kp C_PLAY_PAUSE  &kp N     &kp M       &kp COMMA  &kp DOT   &kp ES_MINUS   &kp ENTER    
                                          &kp LG(TAB)    &sl 1     &kp BSPC &sk LCTRL  &smart_shift      &kp SPACE &sl 2       &none
                                 &kp UP                                                                                            &kp UP
                        &kp LEFT &sk LGUI  &kp RIGHT                                                                    &kp LEFT  &kp SPACE  &kp RIGHT
                                 &kp DOWN                                                                                          &kp DOWN
                    >;
            sensor-bindings = < 
                        &change_tab 
                        &inc_dec_kp SPACE SPACE 
                        &inc_dec_kp SPACE SPACE 
                        &inc_dec_kp C_VOL_UP C_VOL_DN
            >;
        };

        num_layer {
        // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
        // Num layer, pretty sparce
        //   |   ESC   |    1    |    2    |    3    |    4    |    5    |                       |    6    |    7    |    8    |    9    |    0    |  BSPC   |
        //   |   TAB   |         |         |         |         |         |                       |         |         |         |         |         |    `    |
        //   |  SHIFT  |         |         |         |         |         |  none   |   | Play/P  |         |         |         |    ·    |         |  Enter  |
        //                                 |  WinTab | NumLayer|  BSPC   |  LCRTL  |   |  SHIFT  |  SPACE  |   SymLayer |   none  |
        // (5 way)     
            bindings = <
                &trans    &kp N1   &kp N2   &kp N3    &kp N4    &kp N5                       &kp N6   &kp N7    &kp N8   &kp N9        &kp N0   &trans
                &trans    &none    &none    &none     &none     &none                        &none    &none     &none    &none         &none    &kp ES_GRAVE
                &trans    &none    &none    &none     &none     &none    &trans     &trans   &none    &none     &none    &kp ES_MIDDOT &none    &trans   
                                            &trans    &to 1     &trans   &trans     &trans   &trans   &trans    &trans
                                 &kp W                                                                                     &kp UP
                        &kp A    &none  &kp D                                                                    &kp LEFT  &kp SPACE  &kp RIGHT
                                 &kp S                                                                                     &kp DOWN
                    >;
            sensor-bindings = <
                        &change_tab 
                        &inc_dec_kp SPACE SPACE 
                        &inc_dec_kp SPACE SPACE 
                        &inc_dec_kp C_VOL_UP C_VOL_DN
            >;
        };

        symbol_layer {
        // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
        // Symbol layer, trying to maintain shft+number positions of spanish layout, and adding the rest in more or less nice position
        //   |   ESC   |    !    |    @    |    #    |    ~    |    %    |                       |    &    |    /    |    (    |    )    |    ?    |   BSPC   |
        //   |   TAB   |    ¡    |    +    |    *    |    ^    |    =    |                       |    ¬    |    |    |    [    |    ]    |    ¿    |    "     |
        //   |  SHIFT  |    <    |    >    |    º    |    ª    |    ç    |  none   |   | Play/P  |         |    \    |    {    |    }    |         |  ENTER   |
        //                                 |  WinTab | NumLayer|  BSPC   |  LCRTL  |   |  SHIFT  |  SPACE  | SymLayer |   none  |
        // (5 way)     
            bindings = <
                &trans   &kp ES_EXCL  &kp ES_AT   &kp ES_HASH  &kp ES_TILDE &kp ES_PRCNT                       &kp ES_AMPS &kp ES_FSLH  &kp ES_LPAR  &kp ES_RPAR  &kp ES_QMARK  &trans
                &trans   &kp ES_IEXCL &kp ES_PLUS &kp ES_STAR  &kp ES_CARET &kp ES_EQUAL                       &kp ES_NOT  &kp ES_PIPE  &kp ES_LBKT  &kp ES_RBKT  &kp ES_IQMARK &trans
                &trans   &kp ES_LT    &kp ES_GT   &kp ES_ORDM  &kp ES_ORDF  &kp ES_C_CEDILLA &trans    &trans  &none       &kp ES_BSLH  &kp ES_LBRC  &kp ES_RBRC  &none         &trans   
                                                  &trans        &trans      &trans           &trans    &trans  &trans      &to 2        &none
                                 &kp W                                                                                     &kp UP
                        &kp A    &none  &kp D                                                                    &kp LEFT  &kp SPACE  &kp RIGHT
                                 &kp S                                                                                     &kp DOWN
                    >;
            sensor-bindings = <
                        &change_tab 
                        &inc_dec_kp SPACE SPACE 
                        &inc_dec_kp SPACE SPACE 
                        &inc_dec_kp C_VOL_UP C_VOL_DN
            >;
        };

        fun_layer {
        // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
        // Function layer plus extra symbols, things i dont use
        //   |   F11   |   F1    |    F2   |    F3   |    F4   |   F5    |                       |    F6   |    F7   |    F8   |    F9   |    F20  |    F12  |
        //   |   TAB   |         |         |         |         |         |                       |         |         |         |         |         |         |
        //   |  SHIFT  |         |         |         |         |         |  none   |   | Play/P  |         |         |         |         |         |  ENTER  |
        //                                 |  WinTab | NumLayer|  BSPC   |  LCRTL  |   |  SHIFT  |  SPACE  | SymLayer |   none  |
        // (5 way)     
            bindings = <

                &kp F11   &kp F1   &kp F2   &kp F3   &kp F4    &kp F5                         &kp F6   &kp F7    &kp F8   &kp F9    &kp F10  &kp F12
                &trans    &none    &none    &none    &none     &none                          &none    &none     &none    &none     &none    &none
                &trans    &none    &none    &none    &none     &none      &trans     &trans   &none    &none     &none    &none     &none    &trans   
                                          &trans     &trans    &trans    &trans      &trans   &trans   &trans    &trans
                                 &kp UP                                                                                            &kp UP
                        &kp LEFT &kp SPACE  &kp RIGHT                                                                    &kp LEFT  &kp SPACE  &kp RIGHT
                                 &kp DOWN                                                                                          &kp DOWN
                    >;
            sensor-bindings = <
                        &change_tab
                        &inc_dec_kp SPACE SPACE 
                        &inc_dec_kp SPACE SPACE 
                        &inc_dec_kp C_VOL_UP C_VOL_DN
            >;
        };

        ctrl_layer {
        // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
        // Control layer for the keyboard, bt and soft off
        //   |       |         |         |        |        |  BTCLEAR |               |         |         |         |         |         |         |
        //   |       |   BT4   |    BT3  |   BT2  |   BT1  |    BT0   |               |         |         |         |         |         |         |
        //   |       |         |         |        |        | SOFT_OFF |     |   |     |         |         |         |         |         |         |
        //                               |        |        |          |     |   |     |         |         |         |
        // (5 way)     
            bindings = <
                &none    &none         &none         &none        &none         &bt BT_CLR                      &none    &none     &none    &none     &none    &none
                &none    &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2 &bt BT_SEL 1  &bt BT_SEL 0                    &none    &none     &none    &none     &none    &none
                &none    &none         &none         &none        &none         &soft_off     &none    &none    &none    &none     &none    &none     &none    &none 
                                                     &none        &none         &none         &none    &none    &none    &none     &none    
                              &none                                                                              &none
                        &none &none  &none                                                                 &none &none &none
                              &none                                                                              &none
                    >;
            sensor-bindings = <
                        &inc_dec_kp SPACE SPACE 
                        &inc_dec_kp SPACE SPACE 
                        &inc_dec_kp SPACE SPACE 
                        &inc_dec_kp SPACE SPACE 
            >;
        };

    };
};




                                              